body 
{ 
    margin: 0px auto 0px; 
    max-width: 64em; 
}
div#all 
{
    margin: 0px;
    background: left top repeat-y url('files/left.png'),
        right top repeat-y url('files/right.png');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #303030;
}
div#blue, div#red 
{ 
    z-index: -1;
    position: fixed;
    top: 0px; 
    height: 100%; 
    width: 50%;
}
div#red { right: 0; background: #FFEEEE; }
div#blue { left: 0; background: #EEEEFF; }
div#bookmarks 
{
    position: fixed;
    top: 16%;
    height: 76%;
    width: 112px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-x: hidden;
    font-size: 85%;
}
div#content 
{
    margin-left: 160px;
    margin-right: 40px;
    padding: 4em 2em 8em;
    background: #FFFFEE; /*yellow*/
    outline: #D0D0D0 solid 2px;
}


p { text-align: justify; }
img { vertical-align: middle; }
p.img 
{
    text-align: center;
    font-size: 75%;
    overflow-x: hidden;
}
p.newsection { padding-top: 2em; }
a.outside 
{ 
    color: #FF0000; 
    text-decoration: underline; 
}
a.outside:visited { color: #CC5070; }
p.code 
{ 
    padding: 0 2em 0; 
    font-family: Lucida Console, Courier New, monospace; 
    font-size: 85%;
}
li { padding: 0.25em 0 0.25em; text-align: justify; }

a.inside { text-decoration: none; }
p.bookmark 
{ 
    text-align: center; 
    color: #505050; 
}   
p.button 
{ 
    padding: 1em 0 1em; 
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
    border-color: #E0E0E0;
    overflow-x: hidden;
}
p.button:hover 
{ 
    color: #000080; 
    border-color: #D0D0D0 #AAAAAA #AAAAAA #D0D0D0; 
}
p.button:active 
{ 
    color: #CC5070; 
    border-color: #AAAAAA #D0D0D0 #D0D0D0 #AAAAAA; 
}

